In [2]:
import pandas as pd

# Load cleaned merged dataset
df = pd.read_csv("../data/merged/cleaned_merged_data2.csv")

# Display dataset shape and first few rows
print("Cleaned Merged Dataset Shape:", df.shape)
print(df.dtypes)
df.head()

Cleaned Merged Dataset Shape: (26759, 27)
resultId                   int64
raceId                     int64
driverId                   int64
constructorId              int64
number                   float64
grid                       int64
position                 float64
positionText              object
positionOrder              int64
points                   float64
laps                       int64
time                      object
milliseconds             float64
fastestLap               float64
rank                     float64
fastestLapTime            object
fastestLapSpeed          float64
statusId                   int64
nationality                int64
year                       int64
circuitId                  int64
constructorRef             int64
driver_experience        float64
avg_team_points          float64
constructor_standings    float64
constructor_points       float64
final_position             int64
dtype: object

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,...,statusId,nationality,year,circuitId,constructorRef,driver_experience,avg_team_points,constructor_standings,constructor_points,final_position
0,1,18,1,1,22.0,1,1.0,1,1,10.0,...,1,9,2008,1,131,18.0,72.732508,1.0,14.0,1
1,2,18,2,2,3.0,5,2.0,2,2,8.0,...,1,20,2008,1,18,18.0,41.885714,3.0,8.0,2
2,3,18,3,3,7.0,7,3.0,3,3,6.0,...,1,20,2008,1,208,18.0,37.981914,2.0,9.0,3
3,4,18,4,4,5.0,11,4.0,4,4,5.0,...,1,37,2008,1,166,18.0,42.285714,4.0,5.0,4
4,5,18,5,1,23.0,3,5.0,5,5,4.0,...,1,18,2008,1,131,18.0,72.732508,1.0,14.0,5